input {
    margin-bottom: 15px;
}

.bs-docs-section {
    margin-bottom: 60px;
}

.bg-success,
.bg-primary,
.bg-info,
.bg-warning,
.bg-danger {
    padding: 15px;
}

.g-recaptcha {
    padding-bottom: 13px;
}

.fa-li {
    position: inherit;
}
